<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 Dashboard</title>

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Build the nav-bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <a class="nav-item nav-link" href="/maps">Interactive Maps</a>
            <a class="nav-item nav-link" href="/charts">Interactive Charts</a>
        </nav>
        <!-- The jumbotron div -->
        <div class='jumbotron'>
            <h1>Covid-19 Dashboard</h1>
        </div>
        <!-- The goals and purpose div -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <h3>Purpose</h3>
                </div>
                <div class="col-md-9">
                    <p>
                      The purpose of this dashboard is to...
                    </p>
                </div>
                <div class='col-md-2'>  <!--Build the table-->
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Top 10 by county:
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Cases</a>
                          <a class="dropdown-item" href="#">Deaths</a>
                          
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>County</th>
                            <th>Cases</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                </div>
                
            </div>
        </div>
    </div>  

</body>
</html>