<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Maps</title>

    <!-- Bootstrap CDN -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Build the nav-bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-nav" href="/form">Fips Form</a>
            <!-- <a class="navbar-nav" href="/maps">Interactive Maps</a> -->
            <!-- <a class="nav-item nav-link" href="/charts">Interactive Charts</a> -->
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class='col-md-3'> <!--Build the filter button-->
                <!-- <form>
                    <p>Filter Search</p>
                </form> -->
                <ul class="list-group">
                    <li class="list-group-item"> <!--added items for the following-->
                        <label for="date">Enter Fips Code</label>
                        <input type="text" class='form-control' placeholder="01001" id="datetime" />
                    </li>
                </ul>
            </div>  
        </div>
    </div>            
    <!-- The div that holds our map -->
    <div id="mapid"></div>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/logic.js"></script> 
    <!-- <script type="text/javascript" src="static/js/data.js"></script> -->
</body>
</html>